<a href="https://youtu.be/A2euuevpYis" target="_parent"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/71px-YouTube_full-color_icon_%282017%29.svg.png" alt="Open In Colab"/></a>

# **Pr√°ctico Sistemas Recomendadores: pyreclab - Slope One**

En este pr√°ctico seguiremos utilizando [pyreclab](https://github.com/gasevi/pyreclab), con el cual estamos aprendiendo distintas t√©cnicas de recomendaci√≥n. Seguiremos usando la misma base de datos de los pr√°cticos anteriores, para que puedan comparar los m√©todos y sus implementaciones. Este pr√°ctico est√° acompa√±ado de un [video comentando la actividad](https://youtu.be/A2euuevpYis).

En esta oportunidad exploraremos el recomendador de Pendiente Uno o **Slope One** [1].

**Adaptado y preparado por:** Francisca Cattan üì© fpcattan@uc.cl

Referencias üìñ
------
[1] *Lemire, D., & Maclachlan, A. (2005, April). Slope One Predictors for Online Rating-Based Collaborative Filtering. In SDM (Vol. 5, pp. 1-5).*

**Nombre**:  Francisco Gu√≠√±ez

## Actividad 1 üëì

Antes de empezar con el pr√°ctico, responde la siguiente pregunta con lo visto en clases.

**Pregunta:** Explique c√≥mo funciona Slope One (como modelo te√≥rico, no piense en la implementaci√≥n). En particular explique:

- Repasemos: ¬øPor qu√© este recomendador es un algoritmo de Filtrado Colaborativo?
- Este Filtrado Colaborativo, ¬øest√° basado en el usuario o en los items? ¬øPor qu√©?
- ¬øQu√© datos recibe Slope One y qu√© hace con ellos? (qu√© tipo de columnas y qu√© calculo)
- ¬øQu√© pasar√≠a si se agrega un nuevo rating a la base de datos?
- Opcional: ¬øC√≥mo crees que le ir√≠a al recomendador con un usuario que acaba de entrar al sistema y ha asignado muy pocos ratings?

üí° *Hint: La bibliograf√≠a todo lo puede.*

**Respuesta:** Slope One funciona como un filtrado colaborativo de tipo item-based, dado que aprovecha los rankings que usuarios le ponen a los items para, por medio de los rankings de un item particular, predecir el rating que un determinado usuario que aun no lo ha rankeado le podr√≠a.
En concreto, compara items que hayan sido evaluados por los mismos usuarios para sacar las desviaciones entre las evaluaciones de los usuarios, luego saca la desviaci√≥n promedio y con ella aprovecha los rankings ya ingresados en el item del ranking a para calcular. De cierta manera, Slope One es como una regla de 3 avanzada.

# **Configuraci√≥n Inicial**

## Paso 1:
Descargue directamente a Colab los archivos del dataset ejecutando las siguientes 3 celdas:

In [1]:
!curl -L -o "u1.base" "https://drive.google.com/uc?export=download&id=1bGweNw7NbOHoJz11v6ld7ymLR8MLvBsA"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   388    0   388    0     0    521      0 --:--:-- --:--:-- --:--:--   521
100 1546k  100 1546k    0     0  1531k      0  0:00:01  0:00:01 --:--:-- 29.0M

In [2]:
!curl -L -o "u1.test" "https://drive.google.com/uc?export=download&id=1f_HwJWC_1HFzgAjKAWKwkuxgjkhkXrVg"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   388    0   388    0     0    856      0 --:--:-- --:--:-- --:--:--   854
100  385k  100  385k    0     0   486k      0 --:--:-- --:--:-- --:--:--  486k

In [3]:
!curl -L -o "u.item" "https://drive.google.com/uc?export=download&id=10YLhxkO2-M_flQtyo9OYV4nT9IvSESuz"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   388    0   388    0     0    823      0 --:--:-- --:--:-- --:--:--   822
100  230k  100  230k    0     0   315k      0 --:--:-- --:--:-- --:--:--  315k

Los archivos **u1.base** y **u1.test** tienen tuplas {usuario, item, rating, timestamp}, que es la informaci√≥n de preferencias de usuarios sobre pel√≠culas en una muestra del dataset [movielens](https://grouplens.org/datasets/movielens/).

## Paso 2:

Instalamos pyreclab utilizando pip.

In [4]:
!pip install pyreclab --upgrade

Collecting pyreclab
  Downloading https://files.pythonhosted.org/packages/23/4f/22999d293268e98efae9e80b7d2d4a372b025051de22558e649c7fc69539/pyreclab-0.1.14-cp36-cp36m-manylinux1_x86_64.whl (184kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 194kB 3.4MB/s
Installing collected packages: pyreclab
Successfully installed pyreclab-0.1.14

## Paso 3:

Hacemos los imports necesarios para este pr√°ctico.

In [5]:
import pyreclab
import numpy as np
import pandas as pd

# **El dataset**

üí° *En pr√°cticos anteriores, vimos como analizar este dataset. Puedes revisarlos en caso de dudas.*

## Paso 4:

Ya que queremos crear una lista de recomendaci√≥n de items para un usuario en especifico, necesitamos obtener informaci√≥n adicional de cada pel√≠cula tal como t√≠tulo, fecha de lanzamiento, g√©nero, etc. Cargaremos el archivo de items descargado "u.item" para poder mapear cada identificador de √≠tem al conjunto de datos que lo describe.

In [6]:
# Definimos el orden de las columnas
info_cols = [ 'movieid', 'title', 'release_date', 'video_release_date', 'IMDb_URL', \
              'unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', \
              'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', \
              'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western' ]

# Asignamos a una variable la estructura de datos de los items
info_file = pd.read_csv('u.item', sep='|', index_col = 0, names = info_cols, header=None, encoding='latin-1')

# **Slope One**

## Paso 5:

Seguiremos un camino muy similar a los ejercicios de User KNN e Item KNN. Crearemos una instancia del algoritmo de recomendaci√≥n y luego pasaremos a la fase de entrenamiento.

In [15]:
# Declaramos la instancia SlopeOne
mySlopeOne = pyreclab.SlopeOne(dataset='u1.base', dlmchar=b'\t', header=False, usercol=0, itemcol=1, ratingcol=2)

In [16]:
# Y enntrenamos
mySlopeOne.train()

## Actividad 2 üëì

**Pregunta:** Explique qu√© hace el m√©todo `train()` en este caso, dado el modelo te√≥rico. ¬øCalcula informaci√≥n?, ¬øno hace nada?, ¬øordena los datos? 

**Respuesta:** Para cada evaluaci√≥n a predecir, se calcula el promedio de las desviaciones m√°s relevantes. Con ello, se general la predicci√≥n. La forma en que se seleccionan las desviaciones depende de la versi√≥n espec√≠fica de la familia Slope One que estamos utilizando.

## Paso 6:

Llego la hora de predecir el rating.

In [17]:
# Esta es la predicci√≥n de rating que el usuario ID:457 otorgar√≠a al √≠tem ID:37
# De esta forma podemos comparar el resultado con los pr√°cticos anteriores
mySlopeOne.predict("457", "37")

3.2408759593963623

In [18]:
# Tambi√©n podemos guardar la predicci√≥n en una variable
prediction = mySlopeOne.predict("457", "37")

In [19]:
# Podemos comprobar las peliculas rankeadas por el usuario ID:457
# Que ciertamente ha participado activamente (¬°156 items!)
train_file = pd.read_csv('u1.base', sep='\t', names = ['userid', 'itemid', 'rating', 'timestamp'], header=None)
train_file[train_file['userid'] == 457]

       userid  itemid  rating  timestamp
37269     457       1       4  882393244
37270     457       7       4  882393278
37271     457       9       5  882393485
37272     457      11       4  882397020
37273     457      13       3  882393883
...       ...     ...     ...        ...
37420     457    1047       2  882395964
37421     457    1119       4  882398308
37422     457    1168       5  882548761
37423     457    1210       4  882549905
37424     457    1221       4  882549438

[156 rows x 4 columns]

In [20]:
# Y tambi√©n cu√°les usuarios han rankeado la pelicula ID:37
train_file[train_file['itemid'] == 37]

       userid  itemid  rating  timestamp
1302       13      37       1  882397011
14851     201      37       2  884114635
19670     268      37       3  876514002
29489     363      37       2  891498510
31084     385      37       4  880013483
32996     405      37       1  885548384
62777     773      37       3  888540352

## Actividad 3 üëì

Haremos un peque√±o experimento para entender mejor como funciona Slope One. Gracias al ejercicio anterior, sabemos que el usuario 457 ya ha asignado el mejor rating (5 ‚≠ê) a las dos peliculas ID:9 e ID:1168. Comparemos.

**Pregunta:** ¬øC√≥mo se explican estos resultados?  

**Respuesta:** Por medio de las otras pel√≠culas que ha evaluado el usuario 457, se calcula su desviaci√≥n respecto a otros usuarios que han evaluado cada una de esas pel√≠culas (y que a la vez han evaluado la pel√≠cula 9 u 1168).
Luego, se aprovecha la desviaci√≥n calculada para estimar los dos valores que vemos abajo.
Es probable que 457 sea un usuario que tiende a poner notas medianamente altas y tambi√©n es probable que las pel√≠√≠culas 9 y 1168 tienen calificaciones medianamente altas.

In [22]:
prediction_id9 = mySlopeOne.predict("457", "9")
prediction_id1168 = mySlopeOne.predict("457", "1168")

print('Prediction for ID:9 :', prediction_id9)
print('Prediction for ID:1168 :', prediction_id1168)

Prediction for ID:9 : 4.530702114105225
Prediction for ID:1168 : 4.166153907775879

## Paso 7:

Generaremos ahora una lista ordenada de las top-N recomendaciones, dado un usuario.

In [23]:
# Mediante el m√©todo recommend() genereremos una lista top-5 recomendaciones para el usuario ID:457
reclist_slopeone = mySlopeOne.recommend("457", 5)

# Y visualizaremos el resultado
print('Lista de items seg√∫n ID:', reclist_slopeone)

Lista de items seg√∫n ID: ['1592', '1589', '1656', '1431', '1653']

In [24]:
# Lo convertimos a numpy array
recmovies_slopeone = np.array(reclist_slopeone).astype(int)

# Utilizamos la estructura de datos de los items para encontrar los t√≠tulos recomendados
print('Lista de items por nombre:')
info_file.loc[recmovies_slopeone]['title']

Lista de items por nombre:

movieid
1592                               Magic Hour, The (1998)
1589                                   Schizopolis (1996)
1656                                   Little City (1998)
1431                                  Legal Deceit (1997)
1653    Entertaining Angels: The Dorothy Day Story (1996)
Name: title, dtype: object

## Actividad 4 üë©üèª‚Äçüíª

Genera una nueva recomendacion, modificando los hiperparametros de usuario y topN a tu elecci√≥n.

**Pregunta:** ¬øVes una diferencia en la recomendaci√≥n entre el nuevo usuario y el usuario ID:457?

**Respuesta:** Si! Todas menos 1 son pel√≠culas diferentes. Esto es bueno, porque es lo que esperamos de un recomendador personalizado.

In [26]:
reclist_slopeone = mySlopeOne.recommend("400", 5)
print('Lista de items seg√∫n ID:', reclist_slopeone)

recmovies_slopeone = np.array(reclist_slopeone).astype(int)
print('Lista de items por nombre:')
info_file.loc[recmovies_slopeone]['title']

Lista de items seg√∫n ID: ['1674', '1653', '1064', '1651', '1650']
Lista de items por nombre:

movieid
1674                                    Mamma Roma (1962)
1653    Entertaining Angels: The Dorothy Day Story (1996)
1064                                     Crossfire (1947)
1651                         Spanish Prisoner, The (1997)
1650                              Butcher Boy, The (1998)
Name: title, dtype: object

## Actividad 5 üë©üèª‚Äçüíª

Dado el usuario ID:44, cree dos listas de pel√≠culas recomendadas; la primera utilizando el algoritmo Most Popular y la segunda utilizando el algoritmo Slope One.

**Pregunta:** Realice un analisis apreciativo de las similitudes y diferencias entre ambas recomendaciones.

**Respuesta:** Son recomendaciones totalmente diferentes, y es esperable, dado que Most Popular no es personalizado y Slope One si. En este caso, estamos ante un usuario que al parecer no tiene intereses muy similares a la gran cantidad de personas, dado que sus gustos parecen ser totalmente diferentes a las pel√≠culas m√°s vistas.

In [40]:
# Most Popular
most_popular = pyreclab.MostPopular(dataset='u1.base',
                   dlmchar=b'\t',
                   header=False,
                   usercol=0,
                   itemcol=1,
                   ratingcol=2)
most_popular.train()
top_n = 5
user_id = 44

ranking = [int(r) for r in most_popular.recommend(str(user_id), top_n, includeRated=False)]
print('Recommendation for user {}: {}'.format(user_id, ranking))

info_file.loc[ranking]

Recommendation for user 44: [50, 100, 181, 286, 1]

                               title release_date  ...  War Western
movieid                                            ...
50                  Star Wars (1977)  01-Jan-1977  ...    1       0
100                     Fargo (1996)  14-Feb-1997  ...    0       0
181        Return of the Jedi (1983)  14-Mar-1997  ...    1       0
286      English Patient, The (1996)  15-Nov-1996  ...    1       0
1                   Toy Story (1995)  01-Jan-1995  ...    0       0

[5 rows x 23 columns]

In [29]:
# Slope One
reclist_slopeone = mySlopeOne.recommend("44", 5)
print('Lista de items seg√∫n ID:', reclist_slopeone)

recmovies_slopeone = np.array(reclist_slopeone).astype(int)
print('Lista de items por nombre:')
info_file.loc[recmovies_slopeone]['title']

Lista de items seg√∫n ID: ['1656', '1064', '1643', '1642', '1625']
Lista de items por nombre:

movieid
1656          Little City (1998)
1064            Crossfire (1947)
1643           Angel Baby (1995)
1642    Some Mother's Son (1996)
1625           Nightwatch (1997)
Name: title, dtype: object